name: 01 - Setup Database Schema

on:
  workflow_dispatch: # Permite rodar manualmente pelo botão "Run workflow" no GitHub

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dolt CLI
        run: |
          sudo curl -L https://github.com/dolthub/dolt/releases/latest/download/install.sh | sudo bash

          dolt config --global --add user.name "orair"
          dolt config --global --add user.email "gustavo.orair@gmail.com"

          # Autenticação limpa: Injeta o token direto no comando de importação
          echo "${{ secrets.DOLT_TOKEN }}" | dolt creds import
      - name: Execute Schema Script
        run: |
          dolt clone "orair/cvm-informe-diario"
          
          # 3. Entra na pasta do banco e executa o SQL
          cd cvm-informe-diario
          dolt sql --batch < ../create_schema_mysql.sql
          
        env:
          DOLT_DATABASE: "cvm-informe-diario"
          DOLT_TOKEN: ${{ secrets.DOLT_TOKEN }}

      - name: Commit and Push Schema
        run: |
          dolt add .
          dolt commit -m "Configuração inicial de tabelas e índices" || echo "Nenhuma alteração no esquema."
          dolt push origin main
        env:
          DOLT_TOKEN: ${{ secrets.DOLT_TOKEN }}
